.gradle/
.idea/
*$*.class
*/build/
*build/*
*.bat
*/.classpath
*/gradlew
*/.project
*/gradle/
*/bin/*
*.hprof
captures/*
Loaderjar/gen/com/support/loader/BuildConfig.java
.externalNativeBuild/
build/intermediates/dex-cache/cache.xml

*.iml
.DS_Store
*.svn-base

XswStudentLibrary/res/.DS_Store

jnitest/jni/.DS_Store

.DS_Store
