<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auto.launcher">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.auto.launcher.ShareService"
            android:enabled="true"
            android:exported="true"
            android:label="AutoShareService"
            android:process="com.auto.launcher">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.auto.launcher.ShareService" />
            </intent-filter>
        </service>
    </application>

</manifest>
