<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzxmy.demo"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".XswApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:isGame="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lzxmy.demo.draglistview.DragListViewActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.lzxmy.demo.slidingpane.SlidingPaneActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.lzxmy.demo.foldingmenu.FoldingMenuActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.lzxmy.demo.cirelist.CirleListActivity"
            android:label="@string/app_name"></activity>
        <activity android:name="com.lzxmy.demo.waterdrop.WaterDropActivity"></activity>
        <activity android:name="com.lzxmy.demo.tag.LimitSelectedFragment"></activity>
        <activity android:name="com.lzxmy.demo.wireframe.WireFrameActivity"></activity>
        <activity android:name="com.lzxmy.demo.wireframe.ActRotate"></activity>
        <activity android:name="com.lzxmy.demo.musicplay.MusciPlayActivity"></activity>
        <activity android:name="com.lzxmy.demo.locationimage.LocationImageActivity"></activity>
        <activity android:name="com.lzxmy.demo.imgheadlistview.IMGHeaderActivity"></activity>
        <activity android:name="com.lzxmy.demo.matrix.MatrixAcitivity"></activity>
        <activity android:name="com.lzxmy.demo.listtitleview.ListTitleActivity"></activity>
        <activity android:name="com.lzxmy.demo.damp.DampActivity"></activity>
        <activity android:name="com.lzxmy.demo.layer.LayerDrawableActivity"></activity>
        <activity android:name="com.lzxmy.demo.aidl.AidlActivity"></activity>


        <service android:name="com.lzxmy.demo.aidl.MyService"></service>

        <activity android:name="com.lzxmy.demo.drawstart.StartActivity"></activity>
        <activity android:name="com.lzxmy.demo.drawwelcome.MainActivity58"></activity>
        <activity android:name="com.lzxmy.demo.drawArc.ArcActivity"></activity>
        <activity android:name="com.lzxmy.demo.swithbutton.SwithActivity"></activity>
        <activity android:name="com.lzxmy.demo.Jumping.JumMainActivity"></activity>
        <activity android:name="com.lzxmy.demo.swithbuttongif.SwithButtonActivity"></activity>
        <activity android:name="com.lzxmy.demo.iosswitch.IosSwitchActivity"></activity>
        <activity android:name="com.lzxmy.demo.multiaction.MultiActionActivity"></activity>
        <activity android:name="com.lzxmy.demo.progress.ProgressActivity"></activity>
        <activity android:name="com.lzxmy.demo.slidingTab.SlidingTabActivity"></activity>
        <activity android:name="com.lzxmy.demo.crop.CropMainActivity"></activity>
        <activity android:name="com.lzxmy.demo.shapedrawable.ShapeMainActivity"></activity>
        <activity android:name="com.lzxmy.demo.shapedrawable.ShapeListActivity"></activity>
        <activity android:name="com.lzxmy.demo.progressbutton.ProgressMainActivity"></activity>
        <activity android:name="com.lzxmy.demo.progressbutton.Sample1Activity"></activity>
        <activity android:name="com.lzxmy.demo.progressbutton.Sample2Activity"></activity>
        <activity android:name="com.lzxmy.demo.progressbutton.Sample3Activity"></activity>
        <activity android:name="com.lzxmy.demo.progressbutton.Sample4Activity"></activity>
        <activity android:name="com.lzxmy.demo.progressbutton.Sample5Activity"></activity>
        <activity android:name="com.lzxmy.demo.allswithbutton.SwithButtonMainActivity"></activity>
        <activity android:name="com.lzxmy.demo.Algorithm.AlgorithmActivity"></activity>
        <activity android:name="com.lzxmy.demo.jar.JarDexActivity"></activity>
        <activity android:name="com.lzxmy.demo.DynamicLoad.DynamicLoadMainActivity"></activity>
        <activity android:name="com.lzxmy.demo.jswebview.AdvertisementActivity"></activity>
        <activity android:name="com.lzxmy.demo.recelyview.MainActivity"></activity>
        <activity android:name="com.lzxmy.demo.drawg.DropDownListViewDemo"></activity>
        <activity android:name="com.lzxmy.demo.suspension.SuspensionActivity"></activity>
        <activity android:name="com.lzxmy.demo.signature.SignatureActivity"></activity>
        <activity android:name="com.lzxmy.demo.PoxyActivity"></activity>



        <!-- 库文件 -->
        <activity android:name="com.support.loader.utils.PermissionActivity"></activity>



        <activity android:name=".pobu.StaggeredGridActivity" />
        <activity android:name=".animo.AnimoActivity" />
        <!-- 静态注册广播接收器 -->
        <receiver
            android:name="com.lzxmy.demo.endcall.MyReceiver"
            android:permission="android.permission.CALL_PHONE">

            <!-- 开机启动广播的过滤 -->
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <!-- 电话到来事件的过滤 -->
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- 动态注册广播接收器的服务 -->
        <service android:name="com.lzxmy.demo.endcall.DynamicRegisterService"></service>
        <!-- 进行电话拦截的服务 -->
        <service android:name="com.lzxmy.demo.endcall.EndCallService"></service>


        <!-- 插件开发-->
        <activity
            android:name="com.ryg.dynamicload.proxy.DLActivityProxy"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ryg.dynamicload.proxy.activity.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ryg.dynamicload.proxy.DLFragmentActivityProxy"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ryg.dynamicload.proxy.fragmentactivity.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="com.ryg.dynamicload.proxy.DLServiceProxy" >

            <!--
            <intent-filter >
                <action android:name="com.ryg.dynamicload.proxy.service.action"/>
            </intent-filter>
            -->
        </service>

            <!--
            <intent-filter >
                <action android:name="com.ryg.dynamicload.proxy.service.action"/>
            </intent-filter>
            -->
    </application>

    <uses-feature android:glEsVersion="0x00020000" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
</manifest>